<div class="container">
  <div class="row mt-3">
    <h1 class="mx-auto">About</h1>
  </div>
  <div class="row mt-3">
    <p class="mx-auto text-center">ながのCAKEは全国発送全国発送可能なケーキ屋さんです</br>
    お子様からお年寄りの方までお召し上がりいただけるよう、</br>
    様々なバリエーションをご用意しております。</br>
    また、全国へ全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
    ぜひご注文ください。</p>
  </div>
</div>