<table class="table">
  <thead>
    <tr>
      <th>ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
    <% genres.each do |f| %>
      <tr>
        <td>
          <%= f.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>