<div>
  <%= attachment_image_tag @item, :image, :fill, 200, 200, format: "jpeg", fallback: 'noimage.jpg', size: '200x200' %>
</div>

<div>
  <table>
    <tbody>
      <tr>
        <td><strong><%= @item.name %></strong></td>
      </tr>
      <tr>
        <td><%= @item.introduction %></td>
      </tr>
      <tr>
        <td>
          ¥<%= (@item.price * 1.1).floor %>(税込)
        </td>
      </tr>
  <!--ここに個数とカートへの移動をかく-->
    </tbody>
  </table>
</div>